<div class="for-home">


    <h3 class="product-block-title">Выберите товар для брендирования</h3>
      <app-product-block [products]="product"></app-product-block>
    

    <app-formos></app-formos>
    <app-instagram-section></app-instagram-section>

    <div class="works">
        <h3>Наши работы</h3>
        <div class="works_content">
            <img src="/assets/catalogs/clothes/work-1.jpg" alt="img">
            <img src="/assets/catalogs/clothes/work-2.jpg" alt="img">
            <img src="/assets/catalogs/clothes/work-3.jpg" alt="img">
            <img src="/assets/catalogs/clothes/work-4.jpg" alt="img">
        </div>
    </div>

    <app-request-for-calc></app-request-for-calc>
    <app-instagram-section></app-instagram-section>
    <app-faq></app-faq>
    <app-consultation></app-consultation>
    <app-maps></app-maps>
    
</div>