<div class="formos">
    <div class="container">
      <div class="form-section">
          <h3>У вас есть макет или хотите разработать новый?</h3>
          <p>Мы создадим бесплатный макет по вашим пожеланиям! Получите готовую продукцию уже завтра! Заполните форму для расчёта заказа, и наш менеджер свяжется с вами для уточнения деталей.</p>
          <form class="input-group">
              <input type="text" placeholder="Ваше имя" />
              <input type="email" placeholder="Ваш email" />
              <input type="text" placeholder="Ваш номер телефона" />
              <button type="submit">Рассчитать стоимость заказа</button>
          </form>
          <p class="info-text">Если у вас есть эскиз или макет, отправьте его на нашу почту: myprint_kz&#64;mail.ru</p>
      </div>
    </div>
</div>