<div class="about">
    <div class="intro">
        <div class="intro_content">
            <img src="/assets/about-logo-img.png" alt="logo">
            <div class="intro_title">О нас</div>
            <p>Рекламно-производственная компания</p>
        </div>
    </div>

    <div class="information">
        <div class="container">
            <p>Компания <strong>Nazar Print</strong> занимается нанесением логотипа и корпоративной символики на промо-товары, сувениры, подарки и любые рекламные носители и многое другое для закрепления позиций фирменной, брендовой одеждой среди покупателей.</p>
            <p>Вы можете воспользоваться как единичной услугой, так и заказать широкий спектр <strong>профессиональных услуг:</strong></p>
            
            <ul>
                <li>Термотрансферная печать (DTF)</li>
                <li>Флекс печать</li>
                <li>Шелкография</li>
                <li>Цифровая печать (DTG)</li>
                <li>Тампопечать</li>
                <li>Услуги лазерной, фрезерной гравировки и резки материалов.</li>
                <li>УФ печать</li>
            </ul>
        </div>
    </div>
</div>
