<div class="for-home">
    <div class="intro">
        <div class="container">
            <div class="intro_content">
                <h4 class="intro_title">Товары для дома с вашим логотипом</h4>
                <button class="order">Заказать</button>
            </div>
        </div>
        <div class="overlay"></div>
    </div>

    <h3 class="product-block-title">Выберите товар для брендирования</h3>
    <app-product-block [products]="product"></app-product-block>

    <app-formos></app-formos>

    <div class="works">
        <h3>Наши работы</h3>
        <div class="works_content">
            <img src="/assets/catalogs/for-home/work-1.jpg" alt="work">
            <img src="/assets/catalogs/for-home/work-2.jpg" alt="work">
            <img src="/assets/catalogs/for-home/work-3.jpg" alt="work">
            <img src="/assets/catalogs/for-home/work-4.jpg" alt="work">
        </div>
    </div>

    <app-request-for-calc></app-request-for-calc>
    <app-instagram-section></app-instagram-section>
    <app-faq></app-faq>
    <app-consultation></app-consultation>
    <app-maps></app-maps>
</div>
