<header class="header">
    <div class="header_top">
        <a routerLink="/">
            <img src="assets/logo.png" alt="logo" class="logo">
        </a>

        <button class="burger" (click)="toggleMenu()" [class.active]="isMenuOpen">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="header_f" [class.mobile-hidden]="!isMenuOpen">
            <ul class="social_links">
                <li class="social"><a href="mailto:info@nazarprint.kz"><img src="/assets/email-icon.svg" alt="icon"></a></li>
                <li class="social"><a href="https://instagram.com/nazarprint" target="_blank"><img src="/assets/instagram-icon.svg" alt="icon"></a></li>
                <li class="social"><a href="https://t.me/nazarprint" target="_blank"><img src="/assets/telegram-icon.svg" alt="icon"></a></li>
                <li class="social"><a href="https://wa.me/77073143013" target="_blank"><img src="/assets/whatsapp-icon.svg" alt="icon"></a></li>
                <li class="social"><a href="https://tiktok.com/@nazarprint" target="_blank"><img src="/assets/tiktok-icon.svg" alt="icon"></a></li>
            </ul>
            <div class="navbar-contact">
                Утеген батыра 112<br>10:00-19:00
            </div>
            <a href="https://wa.me/77059547008" class="header_btn" target="_blank" rel="noopener noreferrer">
                Оставить заявку
            </a>
        </div>
    </div>

    <nav class="nav" [class.nav-open]="isMenuOpen">
        <a routerLink="/catalogs" routerLinkActive="active" class="nav_item" (click)="closeMenu()">Каталог</a>
        <a routerLink="/services" routerLinkActive="active" class="nav_item" (click)="closeMenu()">Услуги</a>
        <a routerLink="/prices" routerLinkActive="active" class="nav_item" (click)="closeMenu()">Цены</a>
        <a routerLink="/about" routerLinkActive="active" class="nav_item" (click)="closeMenu()">О нас</a>
        <a routerLink="/contact" routerLinkActive="active" class="nav_item" (click)="closeMenu()">Контакты</a>
    </nav>

    <div class="mobile-overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>
</header>
