<header class="header">
        <div class="header_top">
            <a routerLink="">
                <img src="assets/logo.png" alt="logo" class="logo">
            </a>
            <div class="header_f">
                <ul class="social_links">
                    <li class="social"><a href="#ra"><img src="/assets/email-icon.svg" alt="icon"></a></li>
                    <li class="social"><a href="#ra"><img src="/assets/instagram-icon.svg" alt="icon"></a></li>
                    <li class="social"><a href="#ra"><img src="/assets/telegram-icon.svg" alt="icon"></a></li>
                    <li class="social"><a href="#ra"><img src="/assets/whatsapp-icon.svg" alt="icon"></a></li>
                    <li class="social"><a href="#ra"><img src="/assets/tiktok-icon.svg" alt="icon"></a></li>
                </ul>
                <div class="navbar-contact">
                    Казыбек би 189, 6 подъезд, 61 домофон<br>10:00-19:00
                </div>
                <a href="https://wa.me/77059547008" class="header_btn" target="_blank" rel="noopener noreferrer">
                    Оставить заявку
                </a>
            </div>
        </div>
        <nav class="nav">
            <a routerLink="/" fragment="catalogs" class="nav_item">Каталог</a>
            <a routerLink="/service" class="nav_item">Услуги</a>
            <a routerLink="/prices" class="nav_item">Цены</a>
            <a routerLink="/about" class="nav_item">О нас</a>
            <a routerLink="/contact" class="nav_item">Контакты</a>
        </nav>
</header>