<div class="silky">
  <div class="intro">
    <div class="container">
      <div class="intro_content">
        <h3 class="intro_title">Шелкография на текстиле и других материалах — качественная печать для бизнеса</h3>
        <p>Есть доставка — уточняйте по телефону</p>
        <a href="#rr" class="order">Заказать</a>
      </div>
    </div>
  </div>

  <div class="info">
    <div class="container">
      <p><strong>Шелкография</strong> — один из самых популярных методов печати, используемый для создания ярких и
        долговечных изображений на различных материалах, включая текстиль, упаковку и сувенирную продукцию. Процесс
        включает создание трафарета из прочной сетки, через который пропускаются краски, формируя изображение.
        Шелкография идеально подходит для крупных тиражей (от 50 штук), обеспечивая высокое качество печати и стойкость
        изображений. Этот метод используется для нанесения как простых, так и многоцветных рисунков, что делает его
        универсальным инструментом в различных отраслях.</p>
    </div>
  </div>

  <div class="plus">
    <div class="container">
      <div class="plus_title">Преимущества шелкографии:</div>
      <div class="plus_content">
        <div class="plus_item" *ngFor="let adv of advantages; let i = index">
          <div class="number">{{ i + 1 }}</div>
          <p>{{ adv }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="steps">
    <div class="container">
      <h2 class="steps_title">Этапы трафаретной печати:</h2>
      <div class="steps_content">
        <div class="line"></div>
        <div class="step">
          <div class="step_number">1</div>
          <div class="step_text">
            <h3>Подготовка изображения:</h3>
            <p>На этом этапе создается дизайн для печати. Если изображение многоцветное, каждый цвет печатается по
              отдельности, накладываясь друг на друга в процессе нанесения.</p>
          </div>
        </div>
        <div class="step">
          <div class="step_number">2</div>
          <div class="step_text">
            <h3>Создание трафарета:</h3>
            <p>Для каждого цвета создается отдельный трафарет, который будет пропускать краску только в нужных местах.</p>
          </div>
        </div>
        <div class="step">
          <div class="step_number">3</div>
          <div class="step_text">
            <h3>Сборка:</h3>
            <p>На этом этапе готовится основа для печати. Сначала размещается основа, затем устанавливается трафарет,
              после чего монтируется рамка с сеткой.</p>
          </div>
        </div>
        <div class="step">
          <div class="step_number">4</div>
          <div class="step_text">
            <h3>Печать и сушка:</h3>
            <p>С помощью ракели краска равномерно наносится через трафарет. После завершения печати изделие проходит
              через окончательную сушку, чтобы краска закрепилась.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-formos></app-formos>
</div>
