<div class="contact">
    <div class="intro">
        <div class="container">
            <div class="intro_content">
                <div class="me">
                    <div class="intro_title">Свяжитесь <br/>с нами!</div>
                    <form action="POST" class="contact_form">
                        <input type="text" class="form-control" id="name" placeholder="Имя">
                        <input type="email" class="form-control" id="email" placeholder="Почта">
                        <input type="tel" class="form-control" id="phone" placeholder="Телефон">
                        <button type="submit" class="form-btn">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>

    <div class="info">
        <div class="container">
            <div class="info_item">
                <div class="info_item-title">Адрес:</div>
                <p>г. Алматы, ул.Казыбек би 189 уг.ул Айтиева, подъезд 6, код 61;</p>
            </div>
            <div class="info_item">
                <div class="info_item-title">Телефон:</div>
                <p>+7 707 314 30 13</p>
            </div>
            <div class="info_item">
                <div class="info_item-title">График работы::</div>
                <p>Пн-Сб 10:00-19:00</p>
            </div>
            <div class="info_item">
                <div class="info_item-title">Почта:</div>
                <p>myprint_kz&#64;mail.ru</p>
            </div>
        </div>
    </div>

    <app-maps></app-maps>
</div>