<footer class="footer">
    <div class="container">
      <div class="footer_content">
        <div class="footer_logo">
          <img src="/assets/logo.svg" alt="Логотип" class="logo"/>
          <p>Рекламно-производственная компания</p>
        </div>
        <div class="footer_links">
          <div class="footer_section">
            <h3>О КОМПАНИИ</h3>
            <ul>
              <li><a href="#">О нас</a></li>
              <li><a href="#">Полезные статьи</a></li>
            </ul>
          </div>
          <div class="footer_section">
            <h3>СОТРУДНИЧЕСТВО</h3>
            <ul>
              <li><a href="#">Дизайнерам</a></li>
              <li><a href="#">Блогерам</a></li>
              <li><a href="#">Оптовикам</a></li>
            </ul>
          </div>
          <div class="footer_section">
            <h3>ПОКУПАТЕЛЯМ</h3>
            <ul>
              <li><a href="#">Доставка и оплата</a></li>
              <li><a href="#">Гарантии и возврат</a></li>
              <li><a href="#">Помощь</a></li>
            </ul>
          </div>
          <div class="footer_section">
            <h3>КОНТАКТЫ</h3>
            <p>Пн - Сб, 10:00-19:00</p>
            <p>г. Алматы, Казыбек би 189, 6 подъезд, 61 домофон</p>
            <div class="footer_socials">
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-whatsapp"></i></a>
              <a href="#"><i class="fas fa-phone-alt"></i></a>
              <a href="#"><i class="far fa-envelope"></i></a>
              <a href="#"><i class="fab fa-tiktok"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  