<div class="category-page">
    <div class="intro">
        <div class="intro_content">
            <h4 class="intro_title">Корпоративные сувениры и подарки с логотипом</h4>
            <button class="order" (click)="scrollToForm()">Заказать</button>
        </div>
    </div>

    <div class="container">
        <h3 class="product-block-title">Сувенирная продукция</h3>
        <app-product-block [products]="products"></app-product-block>

        <app-request-for-calc></app-request-for-calc>

        <div class="works">
            <h3>Наши работы</h3>
            <div class="works_content">
                <img src="/assets/catalogs/souvenirs/work-1.jpg" alt="work"
                    onerror="this.src='/assets/catalogs/clothes/work-1.jpg'">
                <img src="/assets/catalogs/souvenirs/work-2.jpg" alt="work"
                    onerror="this.src='/assets/catalogs/clothes/work-2.jpg'">
                <img src="/assets/catalogs/souvenirs/work-3.jpg" alt="work"
                    onerror="this.src='/assets/catalogs/clothes/work-3.jpg'">
                <img src="/assets/catalogs/souvenirs/work-4.jpg" alt="work"
                    onerror="this.src='/assets/catalogs/clothes/work-4.jpg'">
            </div>
        </div>
    </div>
</div>