<div class="prices">
    <div class="container">
        <div class="tab-buttons">
        <button
            *ngFor="let tab of tabs; let i = index"
            [class.active]="selectedTab === i"
            (click)="selectTab(i)"
            >
            {{ tab.name }}
            </button>
        </div>
    </div>
    <div class="tab-content">
        <div class="container">
            <div class="price-table" *ngIf="selectedTab === 0">
                    <h2>Шелкография (аппарат "Ромашка")</h2>
                    <div class="price_content">
                        <div>
                            <h3>Размер поверхности: до 12×12 см</h3>
                            <table>
                            <thead>
                                <tr>
                                <th>Количество цветов</th>
                                <th>50 шт.</th>
                                <th>100 шт.</th>
                                <th>200 шт.</th>
                                <th>300 шт.</th>
                                <th>500 шт.</th>
                                <th>1000 шт.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>1 цвет</td>
                                <td>500 тг/шт</td>
                                <td>450 тг/шт</td>
                                <td>400 тг/шт</td>
                                <td>350 тг/шт</td>
                                <td>300 тг/шт</td>
                                <td>250 тг/шт</td>
                                </tr>
                                <tr>
                                <td>2 цвета</td>
                                <td>700 тг/шт</td>
                                <td>650 тг/шт</td>
                                <td>550 тг/шт</td>
                                <td>500 тг/шт</td>
                                <td>450 тг/шт</td>
                                <td>400 тг/шт</td>
                                </tr>
                                <tr>
                                <td>3 цвета</td>
                                <td>900 тг/шт</td>
                                <td>800 тг/шт</td>
                                <td>700 тг/шт</td>
                                <td>650 тг/шт</td>
                                <td>600 тг/шт</td>
                                <td>550 тг/шт</td>
                                </tr>
                                <tr>
                                <td>4 цвета</td>
                                <td>1100 тг/шт</td>
                                <td>1000 тг/шт</td>
                                <td>900 тг/шт</td>
                                <td>850 тг/шт</td>
                                <td>800 тг/шт</td>
                                <td>750 тг/шт</td>
                                </tr>
                                <tr>
                                <td>5 цветов</td>
                                <td>1300 тг/шт</td>
                                <td>1200 тг/шт</td>
                                <td>1100 тг/шт</td>
                                <td>1000 тг/шт</td>
                                <td>950 тг/шт</td>
                                <td>900 тг/шт</td>
                                </tr>
                                <tr>
                                <td>6 цветов</td>
                                <td>1500 тг/шт</td>
                                <td>1400 тг/шт</td>
                                <td>1300 тг/шт</td>
                                <td>1200 тг/шт</td>
                                <td>1100 тг/шт</td>
                                <td>1000 тг/шт</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    
                    <div>
                    <h3>Размер поверхности: до 30×40 см</h3>
                      <table>
                        <thead>
                          <tr>
                            <th>Количество цветов</th>
                            <th>50 шт.</th>
                            <th>100 шт.</th>
                            <th>200 шт.</th>
                            <th>300 шт.</th>
                            <th>500 шт.</th>
                            <th>1000 шт.</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1 цвет</td>
                            <td>600 тг/шт</td>
                            <td>550 тг/шт</td>
                            <td>500 тг/шт</td>
                            <td>450 тг/шт</td>
                            <td>400 тг/шт</td>
                            <td>350 тг/шт</td>
                          </tr>
                          <tr>
                            <td>2 цвета</td>
                            <td>800 тг/шт</td>
                            <td>750 тг/шт</td>
                            <td>700 тг/шт</td>
                            <td>650 тг/шт</td>
                            <td>600 тг/шт</td>
                            <td>550 тг/шт</td>
                          </tr>
                          <tr>
                            <td>3 цвета</td>
                            <td>1000 тг/шт</td>
                            <td>900 тг/шт</td>
                            <td>850 тг/шт</td>
                            <td>800 тг/шт</td>
                            <td>750 тг/шт</td>
                            <td>700 тг/шт</td>
                          </tr>
                          <tr>
                            <td>4 цвета</td>
                            <td>1200 тг/шт</td>
                            <td>1100 тг/шт</td>
                            <td>1000 тг/шт</td>
                            <td>950 тг/шт</td>
                            <td>900 тг/шт</td>
                            <td>850 тг/шт</td>
                          </tr>
                          <tr>
                            <td>5 цветов</td>
                            <td>1400 тг/шт</td>
                            <td>1300 тг/шт</td>
                            <td>1200 тг/шт</td>
                            <td>1100 тг/шт</td>
                            <td>1050 тг/шт</td>
                            <td>1000 тг/шт</td>
                          </tr>
                          <tr>
                            <td>6 цветов</td>
                            <td>1600 тг/шт</td>
                            <td>1500 тг/шт</td>
                            <td>1400 тг/шт</td>
                            <td>1300 тг/шт</td>
                            <td>1200 тг/шт</td>
                            <td>1100 тг/шт</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

            <div class="notes">
              <h3>Примечания:</h3>
              <ul>
                <li>Цена указана за 1 изделие в зависимости от размера, количества цветов и тиража.</li>
                <li>Подготовка печатных форм (трафаретов) оплачивается отдельно: от 5000 KZT за каждый цвет.</li>
                <li>Минимальный заказ: от 50 шт.</li>
                <li>Для нестандартных размеров или сложных макетов — стоимость рассчитывается индивидуально.</li>
              </ul>
            </div>
                  
            </div>
            <div class="price-table" *ngIf="selectedTab === 1">
                <h2>ДТФ-печать</h2>
                    <div class="price_content">
                        <div>
                            <table>
                            <thead>
                                <tr>
                                <th>Тираж (шт.)</th>
                                <th>Мелкие сувениры</th>
                                <th>Термосы, кружки</th>
                                <th>Бутылки, ежедневники, блокноты</th>
                                <th>Флешки, визитки, пауэрбанки</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>Пробник</td>
                                <td>2500 тг/шт</td>
                                <td>3000 тг/шт</td>
                                <td>2800 тг/шт</td>
                                <td>2200 тг/шт</td>
                                </tr>
                                <tr>
                                <td>1–9 шт.</td>
                                <td>2200 тг/шт</td>
                                <td>2500 тг/шт</td>
                                <td>2300 тг/шт</td>
                                <td>2200 тг/шт</td>
                                </tr>
                                <tr>
                                <td>10–30 шт.</td>
                                <td>1800 тг/шт</td>
                                <td>2200 тг/шт</td>
                                <td>2000 тг/шт</td>
                                <td>1800 тг/шт</td>
                                </tr>
                                <tr>
                                <td>31–50 шт.</td>
                                <td>1500 тг/шт</td>
                                <td>2000 тг/шт</td>
                                <td>1800 тг/шт</td>
                                <td>1500 тг/шт</td>
                                </tr>
                                <tr>
                                <td>51–100 шт.</td>
                                <td>1300 тг/шт</td>
                                <td>1800 тг/шт</td>
                                <td>1600 тг/шт</td>
                                <td>1300 тг/шт</td>
                                </tr>
                                <tr>
                                <td>101–200 шт.</td>
                                <td>1100 тг/шт</td>
                                <td>1600 тг/шт</td>
                                <td>1400 тг/шт</td>
                                <td>1100 тг/шт</td>
                                </tr>
                                <tr>
                                  <td>201–500 шт.</td>
                                  <td>1000 тг/шт</td>
                                  <td>1400 тг/шт</td>
                                  <td>1200 тг/шт</td>
                                  <td>1000 тг/шт</td>
                                </tr>
                                <tr>
                                  <td>1000 шт.</td>
                                  <td>900 тг/шт</td>
                                  <td>1200 тг/шт</td>
                                  <td>1000 тг/шт</td>
                                  <td>900 тг/шт</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    
                    <div>
                    <h3>Размеры: А6 (10.5×14.8 см), А5 (14.8×21 см), А4 (21×29.7 см), А3 (29.7×42 см)</h3>
                      <table>
                        <thead>
                          <tr>
                            <th>Тираж (шт.)</th>
                            <th>A6</th>
                            <th>A5</th>
                            <th>A4</th>
                            <th>A3</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1–9 шт.</td>
                            <td>800 тг/шт</td>
                            <td>1200 тг/шт</td>
                            <td>1500 тг/шт</td>
                            <td>2500 тг/шт</td>
                          </tr>
                          <tr>
                            <td>10–30 шт.</td>
                            <td>700 тг/шт</td>
                            <td>1000 тг/шт</td>
                            <td>1300 тг/шт</td>
                            <td>2200 тг/шт</td>
                          </tr>
                          <tr>
                            <td>30–49 шт.</td>
                            <td>600 тг/шт</td>
                            <td>900 тг/шт</td>
                            <td>1100 тг/шт</td>
                            <td>2000 тг/шт</td>
                          </tr>
                          <tr>
                            <td>50–100 шт.</td>
                            <td>500 тг/шт</td>
                            <td>800 тг/шт</td>
                            <td>1000 тг/шт</td>
                            <td>1800 тг/шт</td>
                          </tr>
                          
                        </tbody>
                      </table>
                    </div>

                    <div class="notes">
                      <h3>Подготовка макета:</h3>
                      <ul>
                        <li>Включена в стоимость для тиражей от 10 шт.</li>
                        <li>Для меньших тиражей (от 1 шт. до 9 шт.) подготовка макета оплачивается дополнительно от 1000 KZT в зависимости от сложности.</li>
                      </ul>
                      <h3>Сроки выполнения:</h3>
                      <ul>
                        <li>Зависит от сложности макета и тиража</li>
                        <li>Обычно сроки выполнения для тиражей до 100 шт. составляют от 3 до 7 рабочих дней. Для больших тиражей срок может быть увеличен.</li>
                      </ul>
                      <h3>Особенности материалов:</h3>
                      <ul>
                        <li>ДТФ-печать идеально подходит для текстиля (футболки, худи, сумки и т. д.), а также для пластиковых и металлических поверхностей.</li>
                        <li>Для нестандартных материалов и размеров цена может быть пересчитана.</li>
                      </ul>
                      <h3>Минимальный заказ:</h3>
                      <ul>
                        <li>Минимальный заказ — от 10 шт.</li>
                        <li>Для индивидуальных и нестандартных заказов минимальный тираж может быть согласован с клиентом.</li>
                      </ul>
                      <h3>Цены:</h3>
                      <ul>
                        <li>Цена указана за стандартные материалы. Для материалов с особыми характеристиками (например, термосы или особые ткани) стоимость может изменяться.</li>
                      </ul>
                    </div>
                    
                  </div>
            </div>
            <div class="price-table" *ngIf="selectedTab === 2">
              <h2>УФ-печать</h2>
                <div class="price_content">
                  <table>
                  <thead>
                      <tr>
                      <th>Тираж (шт.)</th>
                      <th>Мелкие сувениры</th>
                      <th>Термосы, кружки</th>
                      <th>Бутылки, ежедневники, блокноты</th>
                      <th>Флешки, визитки, пауэрбанки</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                      <td>Пробник</td>
                      <td>3000 тг/шт</td>
                      <td>3500 тг/шт</td>
                      <td>3200 тг/шт</td>
                      <td>2500 тг/шт</td>
                      </tr>
                      <tr>
                      <td>1–9 шт.</td>
                      <td>2500 тг/шт</td>
                      <td>3000 тг/шт</td>
                      <td>2800 тг/шт</td>
                      <td>2500 тг/шт</td>
                      </tr>
                      <tr>
                      <td>10–30 шт.</td>
                      <td>2000 тг/шт</td>
                      <td>2500 тг/шт</td>
                      <td>2200 тг/шт</td>
                      <td>1000 тг/шт</td>
                      </tr>
                      <tr>
                      <td>31–50 шт.</td>
                      <td>1800 тг/шт</td>
                      <td>2200 тг/шт</td>
                      <td>2000 тг/шт</td>
                      <td>1800 тг/шт</td>
                      </tr>
                      <tr>
                      <td>51–100 шт.</td>
                      <td>1600 тг/шт</td>
                      <td>2000 тг/шт</td>
                      <td>1800 тг/шт</td>
                      <td>1600 тг/шт</td>
                      </tr>
                      <tr>
                      <td>101–200 шт.</td>
                      <td>1400 тг/шт</td>
                      <td>1800 тг/шт</td>
                      <td>1600 тг/шт</td>
                      <td>1400 тг/шт</td>
                      </tr>
                      <tr>
                        <td>201–500 шт.</td>
                        <td>1200 тг/шт</td>
                        <td>1600 тг/шт</td>
                        <td>1400 тг/шт</td>
                        <td>1200 тг/шт</td>
                      </tr>
                      <tr>
                        <td>1000 шт.</td>
                        <td>1000 тг/шт</td>
                        <td>1400 тг/шт</td>
                        <td>1200 тг/шт</td>
                        <td>1000 тг/шт</td>
                      </tr>
                  </tbody>
                  </table>
                <div class="notes">
                  <h3>Подготовка макета:</h3>
                  <ul>
                    <li>Включена в стоимость для тиражей от 10 шт.</li>
                    <li>Для меньших тиражей (от 1 шт. до 9 шт.) подготовка макета оплачивается дополнительно от 1000 KZT в зависимости от сложности.</li>
                  </ul>
                  <h3>Сроки выполнения:</h3>
                  <ul>
                    <li>Зависит от сложности макета и тиража</li>
                    <li>Обычно сроки выполнения для тиражей до 100 шт. составляют от 3 до 7 рабочих дней. Для больших тиражей срок может быть увеличен.</li>
                  </ul>
                  <h3>Особенности материалов:</h3>
                  <ul>
                    <li>УФ-печать подходит для пластика, металла, стекла, древесины и других плоских материалов.</li>
                    <li>Для нестандартных материалов и нестандартных размеров цена может быть пересчитана индивидуально.</li>
                  </ul>
                  <h3>Минимальный заказ:</h3>
                  <ul>
                    <li>Минимальный заказ — от 10 шт.</li>
                    <li>Для уникальных или индивидуальных изделий (например, сувениры или предметы с особым дизайном) минимальный заказ может быть изменён по согласованию.</li>
                  </ul>
                  <h3>Цены:</h3>
                  <ul>
                    <li>Цена указана за стандартные материалы. Для материалов с особыми характеристиками (например, термосы или особые ткани) стоимость может пересчитана.</li>
                  </ul>
                </div>
                
              </div>
            </div>
            <div class="price-table" *ngIf="selectedTab === 3">
              <h2>Термотиснение</h2>
                    <div class="price_content">
                            <table>
                            <thead>
                                <tr>
                                <th>Пробный экземпляр</th>
                                <th>Тираж (шт.)	Цена за 1 шт.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>Пробник</td>
                                <td>3500 тг</td>
                                </tr>
                                <tr>
                                <td>10–20 шт.</td>
                                <td>900 тг</td>
                                </tr>
                                <tr>
                                <td>30–50 шт.</td>
                                <td>700 тг</td>
                                </tr>
                                <tr>
                                <td>100 шт.</td>
                                <td>600 тг</td>
                                </tr>
                                <tr>
                                <td>200 шт.</td>
                                <td>500 тг</td>
                                </tr>
                                <tr>
                                  <td>300–500 шт.</td>
                                  <td>400 тг</td>
                                </tr>
                            </tbody>
                            </table>
                    
                    <div class="notes">
                      <h3>Примечания:</h3>
                      <ul>
                        <li>Подготовка макета: Входит в стоимость для тиражей от 50 шт.. Для меньших тиражей — дополнительно от 2000 KZT.</li>
                        <li>Для нестандартных материалов или сложных макетов стоимость может изменяться.</li>
                        <li>Минимальный заказ: от 10 шт.</li>
                      </ul>
                    </div>
                    
                  </div>
            </div>
            <div class="price-table" *ngIf="selectedTab === 4">
              <h2>Вышивка</h2>
                <div class="price_content">
                <h3>Маленькие логотипы (до 10 см²)</h3>
                <table>
                <thead>
                    <tr>
                    <th>Пробный экземпляр</th>
                    <th>Тираж (шт.)	Цена за 1 шт.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Пробный экземпляр</td>
                    <td>2500 тг</td>
                    </tr>
                    <tr>
                    <td>10–30 шт.</td>
                    <td>800 тг</td>
                    </tr>
                    <tr>
                    <td>31–50 шт.</td>
                    <td>600 тг</td>
                    </tr>
                    <tr>
                    <td>51-100 шт.</td>
                    <td>500 тг</td>
                    </tr>
                    <tr>
                    <td>101-200 шт.</td>
                    <td>450 тг</td>
                    </tr>
                    <tr>
                      <td>201–500 шт.</td>
                      <td>400 тг</td>
                    </tr>
                    <tr>
                      <td>1000 шт.</td>
                      <td>350 тг</td>
                    </tr>
                </tbody>
                </table>

                <h3>Средние логотипы (10–20 см²)</h3>
                <table>
                <thead>
                    <tr>
                    <th>Пробный экземпляр</th>
                    <th>Тираж (шт.)	Цена за 1 шт.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Пробный экземпляр</td>
                    <td>3000 тг</td>
                    </tr>
                    <tr>
                    <td>10–30 шт.</td>
                    <td>1000 тг</td>
                    </tr>
                    <tr>
                    <td>31–50 шт.</td>
                    <td>800 тг</td>
                    </tr>
                    <tr>
                    <td>51-100 шт.</td>
                    <td>700 тг</td>
                    </tr>
                    <tr>
                    <td>101-200 шт.</td>
                    <td>650 тг</td>
                    </tr>
                    <tr>
                      <td>201–500 шт.</td>
                      <td>600 тг</td>
                    </tr>
                    <tr>
                      <td>1000 шт.</td>
                      <td>550 тг</td>
                    </tr>
                </tbody>
                </table>
                
                <div class="notes">
                  <h3>Примечания:</h3>
                  <ul>
                    <li>Подготовка макета для вышивки оплачивается отдельно (от 2000 KZT), если тираж меньше 50 шт.</li>
                    <li>Минимальная площадь для вышивки: 5 см².</li>
                    <li>Возможна вышивка на различных материалах (ткани, одежде и т.д.) — цена зависит от типа ткани.</li>
                    <li>Тираж: от 10 шт.</li>
                  </ul>
                </div>
                
              </div>
            </div>
            <div class="price-table" *ngIf="selectedTab === 5">
              <h2>Лазерная гравировка</h2>
                <div class="price_content">
                <h3>На металле/пластике</h3>
                <table>
                <thead>
                    <tr>
                      <th>Тираж (шт.)</th>
                      <th>Материал предоставлен заказчиком.</th>
                      <th>С нашим материалом.</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1–9 шт.</td>
                    <td>2500 тг</td>
                    <td>3000 тг</td>
                    </tr>
                    <tr>
                    <td>10–20 шт.</td>
                    <td>700 тг</td>
                    <td>800 тг</td>
                    </tr>
                    <tr>
                    <td>30–50 шт.</td>
                    <td>500 тг</td>
                    <td>600 тг</td>
                    </tr>
                    <tr>
                    <td>100 шт.</td>
                    <td>450 тг</td>
                    <td>550 тг</td>
                    </tr>
                    <tr>
                    <td>200 шт.</td>
                    <td>400 тг</td>
                    <td>500 тг</td>
                    </tr>
                    <tr>
                      <td>300-500 шт.</td>
                      <td>350 тг</td>
                      <td>450 тг</td>
                    </tr>
                    <tr>
                      <td>1000 шт.</td>
                      <td>300 тг</td>
                      <td>400 тг</td>
                    </tr>
                </tbody>
                </table>

                <h3>На дереве</h3>
                <table>
                <thead>
                    <tr>
                    <th>Тираж (шт.)</th>
                    <th>Материал предоставлен заказчиком.</th>
                    <th>С нашим материалом.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>1–9 шт.</td>
                    <td>3000 тг</td>
                    <td>3500 тг</td>
                    </tr>
                    <tr>
                    <td>10–20 шт.</td>
                    <td>900 тг</td>
                    <td>1000 тг</td>
                    </tr>
                    <tr>
                    <td>30–50 шт.</td>
                    <td>700 тг</td>
                    <td>800 тг</td>
                    </tr>
                    <tr>
                    <td>100 шт.</td>
                    <td>600 тг</td>
                    <td>700 тг</td>
                    </tr>
                    <tr>
                    <td>200 шт.</td>
                    <td>550 тг</td>
                    <td>650 тг</td>
                    </tr>
                    <tr>
                      <td>300-500 шт.</td>
                      <td>500 тг</td>
                      <td>600 тг</td>
                    </tr>
                    <tr>
                      <td>1000 шт.</td>
                      <td>450 тг</td>
                      <td>550 тг</td>
                    </tr>
                </tbody>
                </table>
                
                <div class="notes">
                  <h3>Примечания:</h3>
                  <ul>
                    <li>Сложные макеты или гравировка на нестандартных поверхностях: Цена рассчитывается индивидуально.</li>
                    <li>Минимальная толщина материала для гравировки обсуждается.</li>
                    <li>Подготовка макета: Входит в стоимость для тиражей от 50 шт. Для меньших заказов — дополнительно от 2000 KZT.</li>
                    <li>Возможность предоставления материала уточняется заранее.</li>
                  </ul>
                </div>
                
              </div>
            </div>
        
        </div>
    </div>

    <div class="discount">
      <div class="container">
        <div class="discount_content">
          <p>Скидка на первый заказ 10%</p>
          <a href="#whatsapp">Заказать сейчас</a>
        </div>
      </div>
    </div>

    <div class="service_more">
      
    </div>
</div>